@font-face {
    font-family: "rac";
    src: url("/quartzo-font/QuartzoBold-W9lv.ttf") format("truetype");
}


.chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background:#22C55E;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,0.8);
    transition: 0.3s;
    z-index: 1000;
}

.chatbot-btn img{
    height: 90px;
}

.chatbot-btn:hover {
    transform: scale(1.1);
}


.chatbox {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 320px;
    height: 420px;

    background: #FFFFFF;
    border-radius: 16px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;

    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    z-index: 1000;

    overflow: hidden;
}


.chat-header {
    background: #ECFDF5;
    padding: 12px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    color: #16A34A;
    border-bottom: 1px solid black;
}

.chat-header button{
  border-radius: 5px;
  border: 1px solid black;
}

.chat-body {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    background: #F9FAFB;
}

.chat-msg {
    margin: 6px 0;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 14px;
    max-width: 80%;
}

.chat-msg.user {
    background: #22C55E;
    color: white;
    margin-left: auto;
}


.chat-msg.bot {
    background: #E5E7EB;
    color: #111827;
}


.chat-msg.bot.typing {
    font-style: italic;
    color: #6B7280;
}

.quick-options{
    display:flex;
    flex-wrap:wrap;
    gap:6px;
    padding:10px;
    border-top:1px solid #E5E7EB;
    background: #FFFFFF;
}

.quick-options button{
    background:#F3F4F6;
    color:#111827;
    border:none;
    padding:6px 12px;
    border-radius:20px;
    cursor:pointer;
    font-size:12px;
    transition: 0.2s;
    font-family: "Poppins";
}

.quick-options button:hover{
    background:#2ba355;
    color:white;
}


.chat-input {
    display: flex;
    gap: 6px;
    padding: 10px;
    border-top: 1px solid #E5E7EB;
    background: #FFFFFF;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    outline: none;
}

.chat-input input:focus {
    border-color: #22C55E;
}

.chat-input button {
    padding: 10px 14px;
    background: #22C55E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.chat-input button:hover {
    background: #16A34A;
}