@font-face {
  font-family: "rac";
  src: url("/quartzo-font/QuartzoBold-W9lv.ttf") format("truetype");
}


.leaderboard {
  padding: 40px 20px;
  background: #F8FAFC;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid black;
}


.leaderboard h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #16A34A;
  font-size: 28px;
  font-weight: 700;
}


.leaderboard-row.header {
  background: transparent;
  font-size: 13px;
  color: #6B7280;
  margin-bottom: 10px;
}


.leaderboard-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #16A34A;
  padding: 15px 20px;
  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.05);

  transition: 0.3s ease;
  margin-bottom: 10px;
}


.leaderboard-row:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}


.rank {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  min-width: 60px;
}


.leaderboard .leaderboard-row:nth-child(2){
  color: gold;
  background-color: grey;
}
.leaderboard-row:nth-child(3) {
  color: silver;
  background-color: rgb(216, 188, 27);
}
.leaderboard-row:nth-child(4) {
  color: #cd7f32;
  background-color: silver;
}
.leaderboard-row:nth-child(5) {
  color: #cd7f32;
  background-color: #cd7f32;
}



.username {
  flex: 2;
  font-size: 15px;
  color: #111827;
  font-weight: 500;
}


.leaderboard .points {
  flex: 1;
  text-align: center;
  font-weight: 900;
  color: black;
  font-size: 20px;
  font-family: "Poppins";
  letter-spacing: 0px;
}


.accuracy {
  flex: 1;
  text-align: right;
  color: black;
  font-family: "Poppins";
  font-size: 22px;
}


.ra,
.user,
.acc {
  color: black;
  padding: 10px;
}






@media (max-width: 768px) {
  .leaderboard-row {
    flex-wrap: wrap;
    padding: 12px;
  }

  .username {
    flex: 100%;
    margin: 5px 0;
  }

  .points,
  .accuracy {
    flex: 1;
    font-size: 14px;
    text-align: left;
  }
}

/* SMALL DEVICES */
@media (max-width: 480px) {
  .leaderboard h2 {
    font-size: 22px;
  }

  .leaderboard-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .leaderboard-row .points{
    display: flex;
    font-weight: 500;
    font-family: "Poppins";
    font-size: 18px;
  }
}