@font-face {
  font-family: "rac";
  src: url("/quartzo-font/QuartzoBold-W9lv.ttf") format("truetype");
}


.mypredictions {
  border-top: 1px solid black;
  padding: 40px 20px;
  min-height: 100vh;
  background: #F8FAFC;
  font-family: "Poppins", sans-serif;
}


.mypredictions h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #111827;
  font-size: 28px;
  font-weight: 700;
}


.prediction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #2bd86b;
  color: black;
  padding: 18px 20px;
  margin-bottom: 15px;

  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);

  transition: 0.3s ease;
  gap: 10px;
}

/* HOVER */
.prediction-row:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

/* LEFT */
.match-info {
  flex: 2;
}

.match-info .match-no {
  font-size: 12px;
  color: black;
}

.match-info .teams {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

/* CENTER */
.prediction-info {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: black;
}
.prediction-row .prediction-info p{
  color:black;
  font-family: "Poppins";
  letter-spacing: 0px;
}

.prediction-info b {
  color: #111827;
}

/* STATUS */
.status {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 600;
}

.status.correct {
  color: #16A34A;
  background-color: rgb(245, 83, 83);
  border-radius: 10px;
}

.prediction-info .pending{
  color: black;
  background-color: red;
}

.status.wrong {
  color: #DC2626;
}

.prediction-info .status.pending{
  color: blue;
  padding: 10px;
}

/* RIGHT */
.points {
  flex: 1;
  text-align: right;

}

.prediction-row .points p {
  font-size: 12px;
  color: black;
}

.points b {
  font-size: 16px;
  color: #16A34A;
}

/* LOADING / EMPTY */
.mypredictions p {
  text-align: center;
  color: #6B7280;
}

/* TABLET */
@media (max-width: 768px) {
  .prediction-row {
    flex-wrap: wrap;
    padding: 15px;
  }

  .match-info {
    flex: 100%;
  }

  .prediction-info,
  .points {
    flex: 1;
    text-align: left;
  }

  .teams {
    font-size: 15px;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .prediction-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .prediction-row .match-no{
    font-size: 14px;
    margin-bottom: 8px;
  }

  .prediction-info,
  .points {
    width: 100%;
    text-align: left;
  }

  .teams {
    font-size: 14px;
  }

  .mypredictions h2 {
    font-size: 22px;
  }
  .status.correct {
  color: #16A34A;
  background-color: rgb(245, 83, 83);
  border-radius: 8px;
}
}