body {
  font-family: 'Poppins', sans-serif;
  background: #F8FAFC;
  margin: 0;
}

/* CONTAINER */
.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #16A34A;
}

/* CARD */
.register-card {
  background: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* TITLE */
.register-title {
  font-size: 26px;
  font-weight: 700;
  color: #111827;
  text-align: center;
}

/* SUBTITLE */
.register-subtitle {
  text-align: center;
  font-size: 14px;
  color: #6B7280;
}

/* LABEL */
.register-label {
  font-size: 13px;
  color: #374151;
  font-weight: 900;
}

/* INPUT */
.register-input {
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.register-input:focus {
  border-color: #22C55E;
  box-shadow: 0 0 0 3px rgba(34,197,94,0.2);
}

/* BUTTON */
.register-button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  background: linear-gradient(135deg, #22C55E, #16A34A);
  transition: 0.3s;
  border: 1px solid #045321;
}

.register-button:hover {
  transform: translateY(-2px);
  background: #045321;
  box-shadow: 0 8px 20px rgba(34,197,94,0.3);
}

/* FOOTER */
.register-footer {
  text-align: center;
  font-size: 13px;
  color: #6B7280;
  font-weight: 900;
  font-family: "Poppins";
}

.register-link {
  color: #22C55E;
  text-decoration: none;
  font-weight: 900;
  font-family: "Poppins";
}

.register-link:hover {
  text-decoration: underline;
}

/* MOBILE */
@media (max-width: 480px) {
  .register-card {
    width: 100%;
    padding: 30px 20px;
  }
}