@font-face {
    font-family: "rac";
    src: url("/quartzo-font/QuartzoBold-W9lv.ttf") format("truetype");
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    background: url("https://i.pinimg.com/736x/87/03/27/870327fd5857c9e769d0e826fb5674c8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 20px;
}

/* Box */
.box {
    background: rgba(28, 33, 41, 0.9);
    padding: 25px;
    border-radius: 12px;

    width: 100%;
    max-width: 500px;   /* important */

    display: flex;
    flex-direction: column;
    gap: 15px;

    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border: 1px solid black;
}

/* Heading */
.main h1 {
    font-family: "rac", sans-serif;
    color: rgb(10, 10, 10);
    letter-spacing: 3px;
    text-align: center;
    font-size:30px
}

/* Labels */
.main .box label {
    font-family: "rac", sans-serif;
    color: whitesmoke;
    letter-spacing: 1px;
    text-align: left;
}

/* Inputs */
.box input {
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: rgb(124, 121, 121);
    color: black;
    font-size: 14px;
    width: 100%;
}

/* Placeholder */
.box input::placeholder {
    color: #aaa;
}

/* Button */
.main .box button {
    padding: 15px;
    border: none;
    border-radius: 6px;
    background-color: red;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: "rac", sans-serif;
}

/* Hover */
.box button:hover {
    background-color: rgb(245, 10, 10);
    transform: scale(1.05);
}

/* Tablet */
@media (max-width: 768px) {
    .box {
        max-width: 90%;
        padding: 20px;
    }

    .main h1 {
        font-size: 25px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .box {
        max-width: 95%;
        padding: 15px;
    }

    .main {
        padding:20px;
        background: url("https://i.pinimg.com/736x/2e/a5/4e/2ea54ea42bf02a6ef9fee591d0e031f9.jpg");
        background-size: cover;
        padding: 0px;
    }
    .main h1 {
        font-size: 25px;
        letter-spacing: 2px;
        color: white;
    }

    .box input,
    .box button {
        font-size: 13px;
        padding: 10px;
    }
}
