@font-face {
    font-family: "rac";
    src: url("/quartzo-font/QuartzoBold-W9lv.ttf") format("truetype");
}

.teams-page {
  padding: 20px;
  color: white;
  min-height: 100vh;
}
.teams-page h2{
    font-family: "rac";
    text-align: center;
    color: tomato;
    margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
  border: none;

}

.team-card {
  background: #1e1e1e;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 20px;
  font-family: "rac";

}
.team-card h3{
    color:slateblue;
    letter-spacing: 1px;
}
.team-card:hover {
  transform: scale(1.02);
  background: #2a2a2a;
}

@media screen and (max-width:400px){
  .teams-page{
    background: url("https://i.pinimg.com/736x/a3/23/f0/a323f05b961f7eabe39e51d5b2b0049b.jpg");
    background-size:contain;
  }
  .teams-page{
    padding: 0px;
    padding: 10px;
  }

}