* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "rac";
    src: url("/quartzo-font/QuartzoBold-W9lv.ttf") format("truetype");
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #16171d;
  font-family: sans-serif; 
}


::-webkit-scrollbar {
  width: 5px;
  height:3px;
}


::-webkit-scrollbar-track {
  background: #1e293b;
}


::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 5px;
  height: 100px;
}


::-webkit-scrollbar-thumb:hover {
  background: #16171d;
}

body {
  font-family: 'Poppins', sans-serif;
}