* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #16171d;
  font-family: sans-serif; 
}


::-webkit-scrollbar {
  width: 5px;
  height:3px;
}


::-webkit-scrollbar-track {
  background: #1e293b;
}


::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}

